.env
docs/
*.7z
laws/
source-docs-and-summaries
sample-code/
debug/
__pycache__/
*.pyc
~$*
.pytest_cache/
web_cache/
claims-full-article*.json
article-sourced.md
article-sourced.html
article-sourced.docx
